@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  padding-top: 50px;
}

.navbar-fixed-top {
  border: 0;
}

.navbar,
.navbar .navbar-collapse {
  background-image: none;
  background-color: #0abf53;
  border-color: #0abf53;
}

.navbar .navbar-brand,
.navbar a {
  color: #fff;
}

.navbar .navbar-brand img {
  max-width: 100px;
  margin-top: -11px;
}

.navbar-right button {
  margin: 10px;
}

/* Hide for mobile, show later */
.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    /* position: fixed;
    top: 51px; */
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fdfdfd;
    border-right: 1px solid #eee;
    height: calc(100vh - 130px);
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.main {
  padding: 0;
}

/**
    Loader
*/
.loader-container {
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 100;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}

.loader {
  color: #0abf53;
  top: calc(50% - 100px);
  left: calc(50% - 70px);
  position: relative;
  font-size: 10px;
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}

.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 3.5em;
}

@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}


.search-bar-container .well {
  margin-bottom: 1px;
  border-radius: 0;
  padding: 0;
}

.search-bar-container label {
  margin-left: 10px;
}

.map {
  width: 100%;
}

agm-map {
  height: calc(100vh - 120px);
}

.list-group .list-group-item:hover {
  background-color: #e5f5eb;
}

.mat-accent .mat-slider-thumb, 
.mat-accent 
.mat-slider-thumb-label, 
.mat-accent 
.mat-slider-track-fill {
  background-color: #0abf53;
}